.claude/*
.codex/*
.opencode/*
.gemini/*
.providers/*

.npm
pip
.local

container.claude.json

!.claude/.gitkeep
!.codex/.gitkeep
!.opencode/.gitkeep
!.gemini/.gitkeep
!.providers/.gitkeep

.dockerignore
